#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#cssmenu #menu-button {
	display: none;
}

#cssmenu {
	font-family: "Georgia";
	font-variant: small-caps;
	margin: 0px 0px 0px 20px;
}

#cssmenu > ul > li {
	float: left;
}

#cssmenu.align-center > ul {
	font-size: 0;
	text-align: center;
}

#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right > ul > li {
	float: right;
}

#cssmenu > ul > li > a {
	padding: 0px 17px 0px 17px;
	font-size: 15px;
	text-decoration: none;
	color: #ab9f9c;
	font-weight: 400;
	height: 52px;
	line-height: 52px;
}

#cssmenu > ul > li:hover > a {
	color: #ffffff;
}

#cssmenu > ul > li.has-sub > a {
	padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
	position: absolute;
	top: 26px;
	right: 12px;
	width: 7px;
	height: 1px;
	display: block;
	background: #ab9f9c;
	content: '';
}

#cssmenu > ul > li.has-sub > a:before {
	position: absolute;
	top: 23px;
	right: 15px;
	display: block;
	width: 1px;
	height: 7px;
	background: #ab9f9c;
	content: '';
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0;
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}

#cssmenu.align-right ul ul {
	text-align: right;
}

#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#cssmenu li:hover > ul {
	left: auto;
}

#cssmenu.align-right li:hover > ul {
	left: auto;
	right: 0;
}

#cssmenu li:hover > ul > li {
	height: 35px;
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#cssmenu.align-right ul ul ul {
	margin-left: 0;
	margin-right: 100%;
}

#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150, 150, 150, 0.15);
	padding: 13px 15px;
	width: 200px;
	font-size: 14px;
	text-decoration: none;
	color: #ab9f9c;
	font-weight: 400;
	letter-spacing: 0.3px;
	background: url(../images/some-bg.jpg); 
	font-family: "Times New Roman";

}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
	border-bottom: 0;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
	color: #ffffff;
}

#cssmenu ul ul li.has-sub > a:after {
	position: absolute;
	top: 22px;
	right: 11px;
	width: 7px;
	height: 1px;
	display: block;
	background: #ab9f9c;
	content: '';
}

#cssmenu.align-right ul ul li.has-sub > a:after {
	right: auto;
	left: 11px;
}

#cssmenu ul ul li.has-sub > a:before {
	position: absolute;
	top: 19px;
	right: 14px;
	display: block;
	width: 1px;
	height: 7px;
	background: #ab9f9c;
	content: '';
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#cssmenu.align-right ul ul li.has-sub > a:before {
	right: auto;
	left: 14px;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0;
}

.open {
	background: url(../images/some-bg.jpg); 
}